<div class="row">
  <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Stylist Profiles</h4>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>First name</th>
              <th>Last name</th>
              <th>Salon</th>
              <th>Location</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @stylist_profiles.each_with_index do |profile, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= profile.username %></td>
                <td><%= profile.first_name %></td>
                <td><%= profile.last_name %></td>
                <td><%= profile.salon %></td>
                <td><%= profile.city %></td>
                <td><%= link_to 'Show', profile %></td>
                <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
                <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Customer Profiles</h4>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>First name</th>
              <th>Last name</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @customer_profiles.each_with_index do |profile, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= profile.username %></td>
                <td><%= profile.first_name %></td>
                <td><%= profile.last_name %></td>
                <td><%= link_to 'Show', profile %></td>
                <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
                <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>