<div class="panel panel-default profile-panel">
  <div class="panel-body">
    <div class="col-md-3 col-sm-4 profile-panel-left">
      <%= image_tag @profile.profile_picture, id:'profile-picture' %>
    </div>
    <div class="col-md-8 col-sm-8 profile-panel-right">
      <h3><%= @profile.username %></h3>
      <p id='profile-name'><%= @profile.display_name %></p>
      
      <% if @profile.user.category == "Stylist" %>
        <p id='profile-salon'><%= link_to @profile.salon, "http://#{@profile.salon_website}", target: '_blank' %></p>
        <p id='profile-city'><%= @profile.city %></p>
      <% end %>

      <hr>
      <p><%= simple_format(@profile.about) %></p>
      <% if owner(@profile) %> 
        <%= link_to 'Add Picture', new_post_path, class:'btn btn-pink' %>         
        <%= link_to 'Edit Profile', edit_profile_path(@profile), class:'btn btn-turquoise' %> 
      <% end %>
    </div>
  </div>
</div>

<hr>

<div>

  <% if @profile.user.category == "Stylist" %>
    
    <%= render partial: 'posts/gallery', collection: Post.where(stylist: @profile.user), as: :post %>
  
  <% elsif @profile.user.category == "Customer" %>

    <%= render partial: 'posts/gallery', collection: @profile.user.posts, as: :post %>
      
  <% end %>

</div>