<%= simple_form_for @post do |f| %>
  <div style="text-align:center">
    <img height="100%" width="60%" alt="Image preview...">
  </div>

  <div class="form-group">
    <%= f.input :picture, as: :file, :input_html => {:onchange => "previewFile()"} %>

    <% if current_user.category == "Customer" %>
      <%= f.input :stylist, collection: User.where(category: "Stylist"), prompt: "Find Stylist", input_html: { class: 'form-control' }, label: "Stylist", label_method: :username %>
    <% end %>

    <%= f.input :treatment, collection: Treatment.all, label_method: :name, prompt: "Select Treatment", input_html: { class: 'form-control' } %>
    <%= f.input :length, collection: ['Shaved', 'Short', 'Medium', 'Long'], prompt: "Select length", input_html: { class: 'form-control' } %>
    <%= f.input :price, collection: Price.all, label_method: :amount, prompt: "Select price", input_html: { class: 'form-control' } %>
    <em style="float:right">(Seperate Tags by comma)</em>
    <%= f.input :tag_list, as: :text, input_html: { class: 'form-control' }, placeholder: "#{popular_tags}" %>
    <%= f.input :comment, as: :text %>  
    <hr>
    <%= f.button :submit, 'Upload Picture', class:'btn btn-pink btn-block' %>

  </div>

<!-- Need to work out way of adding gender -->
<% f.input :gender, collection: ['Haircut', 'Nails', 'Eyelashes'], input_html: { class: 'form-control' } %>

<% end %>