<%= simple_form_for @post do |f| %>

  <div class="form-group">
    <%= f.input :picture, as: :file %>
    <%= f.input :treatment, collection: ['Haircut', 'Nails', 'Eyelashes'], prompt: "Select treatment", input_html: { class: 'form-control' } %>
    <%= f.input :price, collection: ['£', '££', '£££', '££££'], prompt: "Select price", input_html: { class: 'form-control' } %>
    <%= f.input :comment, as: :text %>
    <%= f.button :submit %>
  </div>

<!-- Need to work out way of adding gender -->
<% f.input :gender, collection: ['Haircut', 'Nails', 'Eyelashes'], input_html: { class: 'form-control' } %>

<% end %>
