<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
    <div class="panel panel-default search-bar">
      <div class="panel-body">
        <%= form_tag posts_path, :method => :get, :class => "form-inline" do %>
          <div class="form-group">
            <%= select_tag :treatment, options_from_collection_for_select(Treatment.all, 'id', 'name', selected: params[:treatment]), html_options = { class:'form-control', prompt: "Treatment" } %>
            <%= select_tag :hair_length, options_for_select(["Shaved", "Short", "Medium", "Long"], selected: params[:hair_length]), html_options = { class:'form-control', prompt: "Length" } %>
            <%= select_tag :price, options_from_collection_for_select(Price.all, 'id', 'characters', selected: params[:price]), html_options = { class:'form-control', prompt: "Price" } %>
            <%= select_tag :location, options_for_select(Profile.all.to_a.pluck(:city).compact.uniq, selected: params[:location]), html_options = { class:'form-control', prompt: "Location" } %>
          </div>
          <%= submit_tag 'Search', class:'btn btn-default btn-pink' %>
          <i class="fa fa-arrow-down pull-right hidden-sm hidden-xs" style="padding:20px" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
        <% end %>
      </div>
      <div class="panel-footer collapse hidden-sm hidden-xs" id="collapseExample">
          <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), class: css_class, style: 'color: #59C3C3;' %>
          <% end %>
          <br>
        <%= link_to 'reset', posts_path %>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <%= render partial: 'posts/gallery', collection: @posts, as: :post %>
</div>


<%= will_paginate @posts, class:'digg_pagination pull-right' %>
