<!DOCTYPE html>
<html>
  <head>
    <title>SomeFuckinName</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <div class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>  
      <%= render partial: 'shared/footer' %>
    </div>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-583ec51d6df12b94"></script> 
  </body>
</html>
